{% extends "layouts/base.html" %}
{% block title %}Log in to Viitteri{% endblock %}
{% block styles %}
    {{super()}}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}" />
{% endblock %}
{% block body %}
    <main class="form-signin w-100 m-auto">
        <form action="/login" method="POST">
            <h1 class="h3 mb-3 fw-normal">Sign in to Viitteri</h1>
            
            <div class="form-floating">
                <input type="username" class="form-control" name="username" id="floatingInput" placeholder="Username">
                <label for="floatingInput">Username</label>
            </div>
            <br/>
            <div class="form-floating">
                <input type="password" class="form-control" name="password" id="floatingPassword" placeholder="Password">
                <label for="floatingPassword">Password</label>
            </div>
            
            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" value="remember-me"> Remember me
                </label>
            </div>
            <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
            <p class="mt-5 mb-3 text-muted">
                Don't have an account?
                <a href="{{url_for('signup')}}">Sign up</a>
            </p>
        </form>
    </main>
{% endblock %}