{% extends "layouts/base.html" %}
{% block title %}{{tweet.username}} on Viitteri: "{{tweet.post}}"{% endblock %}
{% block styles %}
    {{super()}}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tweet.css') }}" />
{% endblock %}
{% block content %}
    <header class="col-xl-3 col-lg-3 col-md-3 col-sm-2 d-md-block">
        {% block sidebar %}
        {% include 'includes/sidebar.html' %}
        {% endblock %}
    </header>
    <main class="col-xl-6 col-lg-7 col-md-9 col-sm-10 px-md-4">
        <div class="container">
            {% if tweet %}
                <div class="card m-3">
                    <div class="row g-0">
                        <div class="card-header">
                            <a href="/home" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
                                </svg>
                                <span class="fs-4 px-2">Viitti</span>
                              </a>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">{{tweet.user}}</h5>
                            <p class="card-text">{{tweet.post}}</p>
                            <p class="card-text"><small class="text-muted">{{tweet.created_at}}</small></p>
                        </div>
                        <div class="card-footer text-muted">
                            <ul class="list-group">
                            <li class="list-group-item">
                                <span class="fs-4 px-2">{{tweet.total_likes}} likes</span>
                                <span class="fs-4 px-2">{{tweet.total_replies}} replies</span>
                            </li>
                            <li class="list-group-item">
                                <div class="form-tweet">
                                    <p class="card-text">Replying to @{{tweet.username}}</p>
                                    <form action="/reply" method="POST">                        
                                        <div class="form-floating">
                                            <input type="text" class="form-control" name="post" id="floatingInput" placeholder="Tweet your reply">
                                            <label for="floatingInput">Tweet your reply</label>
                                        </div>
                                        <br/>
                                        <button class="btn btn-primary float-end" type="submit">Reply</button>
                                    </form>
                                </div>
                            </li>
                            </ul>
                        </div>
                    </div>
                  </div>
            {% endif %}
        </div>
    </main>
{% endblock %}